@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    font-family: 'Roboto', sans-serif;
}
i {
    color: #ffa41c;
    margin-top: 5px;
  }

.pointer{
    cursor: pointer;
}
.decoracion{
    text-decoration: none;
    color:black;
}
.decoracion:hover{
    color: #690606;
}
.listando{
    margin: 13%;
    width: 50%;
    margin-top: 30%;
}
.responsive{
    width: 85%;
}
.predeterminado{
    color:#ff0000;
}
#carrito{
    font-size: 10px;
    background: #F3D184;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0;
    border-radius: 4px;
    width: 100%;

}
#br{
    color: #000;
}
#card{
    font-size: 10px;
    background: #F0AD64;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    border: 0;
    border-radius: 4px;
    width: 100%;
}
#foto{
    font-size: 15px;
    background: #f19a3c;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    border: 0;
    border-radius: 4px;
    width: 94%;
}
#upload{
    display: none;
}

textarea{
    width: 100%;
    height: 7vh;
    border: 1px solid rgb(90, 90, 90);
    border-radius: 6px;
    margin-top: 18%;
    font-size: 19px;
}
textarea::-webkit-scrollbar {
    display: none;
}
textarea:hover {
    border: 2px solid#f19a3c;
}
